
<nav class="navbar navbar-inverse" style="margin-bottom:0px" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">PCstore</a>
  </div>

  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="login" class="nav-link"> LOGUIN </a></li>
      <li><a routerLink="ecommerce" class="nav-link"> ECOMMERCE </a> </li>
      <li><a routerLink="productos" class="nav-link"> MANTENIMIENTO </a> </li>
    </ul>
    

  </div>
</nav>
<!-- 
<a routerLink="ecommerce" class="nav-link"> ECOMMERCE </a>  
<a routerLink="addecommerce" class="nav-link"> ADDECOMMERCE </a>
<a routerLink="carrito" class="nav-link"> CARRITO </a>
-->

<router-outlet></router-outlet>


<!-- <app-verify-login></app-verify-login> -->