<div class="container col-md-6">
    <div class="card-header">
        <h3> Actualizar Productos</h3>
    </div>
    <div class="card-body">
        <form action="">
 
            <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" [(ngModel)]="categoria.desCategoria" name="desCategoria"  class="form-control">
            </div>
            <button (click)="actualizar(categoria)" class="btn btn-danger">Guardar</button> &nbsp;  
        </form>

    </div>
</div>