<nav class="navbar navbar-inverse" style="margin-bottom:0px" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" (click)="irProducto()">Productos</a>
    <a class="navbar-brand">Categorias</a>
  </div>

</nav>
<br>
<div class="card-header">
    <h3> Listado de Categorias</h3>
  </div>
  <br>
  <button  (click)="nuevo()"  class="btn btn-warning"> Agregar</button>
  <br><br>
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Descripción</th>
        <th>Acciones </th> 
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
        <td>{{categoria.id}}</td>
        <td>{{categoria.desCategoria}}</td>
        <td>  
          <button  (click)="editar(categoria)" class="btn btn-primary"> Editar</button>&nbsp; 
          <button (click)="eliminar(categoria)" class="btn btn-danger"> Delete</button>  
  
        </td> 
      </tr>
      </tbody>
    </table>